<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trees For Tigers</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1 viewport-fit=cover">

        <!-- babel polyfill --->
        <script src="js/support/@babel/polyfill/dist/polyfill.min.js"></script>

        <!-- Stripe payment processing --->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <!-- Google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue|Dosis|Raleway|Nunito|Source+Code+Pro|Varela+Round&display=swap">
        <link
          rel="stylesheet"
          href="/css/bootstrap.css"
          type='text/css'
        />
    </head>
    <body>
        <!--Flash messaging markup
        {{#if flash}}
            <div class="alert alert-dismissable alert-{{flash.type}}">
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>
                &times;
              </button>
              <strong>{{flash.intro}}</strong>{{{flash.message}}}
            </div>
        {{/if}}-->

        <!-- Content  -->
        {{{body}}}
    </body>
</html>
